.App {
  display: flex;
  flex-direction: column;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#codeeditor {
  flex: 1;
}

.control {
  color: #cfcfc2;
  background: #222222;
  display: flex;
  align-items: center;
  padding: 20px;
  border-top: 1px solid #555651;
  font-family: monospace;
}

.output {
  color: #cfcfc2;
  background: #222222;
  padding: 8px;
  height: 200px;
  overflow-y: scroll;
  word-wrap: break-word;
  border-top: 1px solid #555651;
}

.register-in {
    margin-left: 16px;
    border-bottom: 1px solid #cfcfc2;
}

.register-in span {
    font-style: italic;
    margin-right: 10px;
}

.register-in input {
  outline-width: 0;
  background-color: transparent;
  border: none;
  color: #cfcfc2;
  text-align: right;
  font-size: 16px;
  line-height: 1.4;
  width: 100px;
  font-family: monospace;
}

.run {
  border: 1px solid #cfcfc2;
  padding: 4px 10px;
  line-height: 1.4;
  cursor: pointer;
}
