/**/

.App {
  display: flex;
  flex-direction: column;

  position: absolute;
  width: 100%;
  height: 100%;
}

#codeeditor {
  flex: 1;
}

.output {
  color: #cfcfc2;
  background: #222222;
  padding: 8px;
  height: 250px;
  overflow: scroll;
  word-wrap: break-word;
  border-top: 1px solid #555651;
}

.run {
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  padding: 10px;
  border: 2px solid white;
  margin: 8px;
  z-index: 999;
}

.input {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 8px;
  padding: 8px;
  background-color: rgba(34, 34, 34, 1);
  border: 2px solid white;
}

.input label {
  color: white;
}

.input input {
  outline-width: 0;
  margin: 0 12px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  text-align: right;
  font-size: 16px;
  line-height: 1.4;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}